@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
   /*Aqui se realizar un diseño general a la pagina*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
/*Se aplico en el body un color de fondo azul negro y para letras blanco,
un estilo de letra, el texto centrado y su anchura */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}
/*Se le aplico al header un tipo flex para agregarle un espacio en medio del logo y el menu*/
.header {
    display: flex;
    justify-content: space-between
}
/*No se le aplico ningun tipo de display a esta clase de naldana*/
.src-only {
    display: none;
}
/*No se le aplico ningun tipo de display a esta clase movil*/
.hide-mobile {
    display: none;
}
/*a este elemento p se le aplico un tamaño,un espacio de relleno
tambien una altura de la casilla remarca por lineas*/
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}
/*Se le agrego al logo naldana una anchura y margen de todos lados*/
.logo {
    width: 90px;
    margin: 1em;
}
/*Se le aplica el color (inherit) heredado por el elemento padre
sin ninguna propiedad de diseño, un tamaño */
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;/*especifica parte de la posición de un elemento posicionado*/
    right: 95%;/*a la izquierda en un95%*/
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
/*Al ultimo elemento i se le aplica un tamaño de 1.6rem*/
.options i:last-child {
    font-size: 1.6rem;
}
/*a la foto naldana se le aplica un ancho en pixeles*/
/* Big area */
.big-hero img {
    width: 150px;
}
/**/
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}
/*Al nombre se le asigna un tamaño y color*/
.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}
/*sin ningun estilo de lista 0padding,margen superior de 3em, tipo de display flex, que se pone
asi para hacer algun cambio del content, en un eje horizontal centrado*/
/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center

}
/*a ambos iconos se le aplico un color en especifico, sin ninguna decoracion y su respectivo tamaño*/
.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

/*simplemente se le aplico un color de fondo a esta clase*/
.green-area {
    background-color: #0AC693; 
}

/*Se le aplico a esta clase un espacio de relleno y un margen superior
*/
.post {
    padding: 1em;
    margin-bottom: -2px;
}
/*Se le aplico una transformacion de texto a mayuscula un tamaño de su content y de su letra 
y un margin general */
.post h2 {
    text-transform: uppercase;/*transforma todos los carateres de las palabras en mayusculas */
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}
/*aqui se le quito el estilo de lista*/
.post ul {
    list-style: none;
}
/*se le agrego un minimo de altura y ancho con un margen auto: centrar de en ese rango el elemento en su contenedor*/
.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}
/*Overflow: si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido 
excedente en un elemento a nivel de bloque. se le aplico el borde redondeado a las esquinas del los cuadros,
tambien un color de fondo, texto alineado a la izquierda, y un padding superior*/
.post ul li article {
    overflow: hidden;/* esconde un elemento, pero deja (vacío) el espacio donde debería aparecer*/
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}
/*en la imagen del articulo se le aplico un ancho y altura*/
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;/*object-fit:especifica como el contenido de un elemento remplazado*//*cover:El contenido reemplazado se dimensiona para mantener su relación de aspecto mientras llena el cuadro de contenido completo del elemento.*/

}
/*la letra del titulo del articulo posee un color, padding de 0 arriba y abajo y 1rem de izquierda y derecha,
un tamaño de 0.9em, un espacio en blanco que el tamaño se ajuste al contenido, */
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;/* esconde un elemento, pero deja (vacío) el espacio donde debería aparecer*/
    text-overflow: ellipsis;/*muestra el contenido que se desborda y no es mostrado*/
}
/*al parrafo de texto del articulo, se le asigno un color, tamaño y un padding,tambien una altura 
de la casilla remarca por lineas de 25px*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */
/*se le asigna un margen superior*/
.about{
    margin-top: 2em;
}
/*en el titulo de este apartado se le trasforma la palabra a mayusculas
tambien se le da un anchura de su container, y tamaño de letra y margen*/
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}
/*achura de la imagen de apartado*/
.bio-info img{
   width: 200px;
}
/*Para el parrafo de esta clase se utilizo tamaño de este,
un paddin a ambos lado, texto alineado a la izquierda,tambien una altura 
de la casilla remarca por lineas, espacio de letras*/
.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}
/*aqui  utilizo un flex para ubicar este apartado en dos columnas, y un padding derecha y izquierda de 1em */
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}
/*aplica el margen superior a todas los elementos de contacto, +: afecta solamente al primer hijo que sigue a otro*/
.contact * + * {
    margin-top: 1.5em;
}
/*en esta clase utilizo flex para poner cada casilla en una sola columna*/
.contact-form {
    display: flex;
    flex-direction: column;
}
/*este selector identifica directamente a las clase 
se le agrega paddin arriba y abajo de 1rem y derecha y izquierda de 2rem
tambien un border de esquina superior derecha y inferior izquierda a cada casilla, y tamaño de 1em*/
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */
/*es un marcador, página web temporal*/
::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 

:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }
/*este selector es especialmente para referir al boton de contactar*/
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}
/*aqui se le agrego una una imagen*/
.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}
/*en la etiqueta footer se le agrego un color e fondo y de letras*/
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}
/*margen del container de los iconos de footer no tiene*/
footer .social-links {
    margin: 0;
}
/*aqui en la clase menu se le agrego un color de fondo
en un psicionamiento unico,Cuando varios elementos se superponen, z-order determina cuales cubren a otros.
 tambien determina aqui la anchura y altura de este*/
.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;/*especifica parte de posicion e un elemento posicionado*/
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}
/*le quital el estilo de la lista, texto alineado a la izquierda, y padding de 1em*/
.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
/* (clase menu, etiqueta li)display por bloque, tiene un padding y un margen superior de 5px*/
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}
/*para referirse a los enlace de este, un color blanco y sin niguna decoracion de texto*/
.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  /*le quito el estilo de la lista de esta etiqueta un wrap posicionado centrado con un margen a la derecha */
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 3em;
    }
    /*anchura de 90%*/
    .post{
        width: 90%;
    }
    /*titulo de esta clase centrado al centro, margen de a la izquierda de tamaño de 25px*/
    .post h2{
        justify-content: center;
        margin-left: 4em;
        font-size: 25px;
    }
    /*para referirse a la etiqueta li , posee un minimo y maximo de altura
    margen arriba y abajo de 1rem, derecha y izquierda de 2rem*/
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    /*anchura del logo de 150 y margen a todos sus lados*/
    .logo {
        width: 150px;
        margin: 1.5em;
    }
     /*tipo monitor bloque y tamaño*/
    .show-desktop {
        display: block;
        font-size:13px;
    }
     /*se le quita*/
    .hide-desktop {
        display: none;
    }
    /*se realiza un flex para arreglar el menu y una posicion estatica, margen superior */
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }
    /*ipad*/
    /*agrande el circulo le aplique color y le di un marque inferior*/
    .fas.fa-arrow-circle-down{
        font-size:4em;
        color: #0AC693; 
        margin-bottom: 1em;
    }
    /*aqui hice mas grande la letra*/
    .big-hero .container p{
       font-size: 19px;
       }
   /*aplique un margen a la derecha e izquierda de toda la seccion*/
    .about {
        margin:0px 3.5em;
    }
    /*aqui hice que al mover el puntero sobre las palabras del menu cambiara a color rojo*/
    .show-desktop li a:hover{
        color: #c20000;
     }


} 

@media only screen and (min-width: 1024px) {
/*En este selecione la seccion con su div para definir el tamaño de  lineas y columnas con un grid*/
 .about .container{
display: grid;
grid-auto-rows:6em 1fr ;
grid-auto-columns:1fr 1fr; 

 }

  /*aqui defini que lugar y espacio queria que ocupara el titulo*/
.about .container h2{
    grid-row: 1;
     grid-column: 1/3;
    
}
/*aqui asigne que tuviera dos filas y una columna*/
 .bio-info{
     grid-row: 2;
     grid-column: 1;
 }
 /*aqui movi el logo de naldana a la derecha*/
 .container .header a{
     margin-left: 3em;
 }

/*le dije que ocupara el ancho del 100%*/
.post {
  width: 100%;

}
/*el titulo lo movi a la derecha*/
.post h2{
  margin-left: 2em;
}

/*hice mas pequeño de ancho el boton de contactar*/
 .contact-form input[type=submit]{
    width: 200px;
 }
 /*cambie el tamaño y color del boton de flechita hacia abajo
 tambie le agregue un margen hacia abajo*/
 .fas.fa-arrow-circle-down{
     font-size:4em;
     color: #0ac693; 
     margin-bottom: 1.5em;
 }
 /*le quite tamaño al container y margen*/
 .social-links{
     font-size:0px;
     margin:0;
 }
 /*agrande el tamaño, quite el margen que ya tenia y puse un margue hacia abajo para subirlos*/
 .social-links li{
     font-size:20px;
     margin:0;
     margin-bottom: 1em;
 }
 /*aqui agrande el tamaño de la letra en px*/
 .big-hero  p{
 font-size: 18px;
 }
 /*agrande la letra del menu*/
 .show-desktop li a{
     font-size: 15px;
 }
 
/*aqui hice que al mover el puntero sobre las palabras del menu cambiara a color rojo*/
.show-desktop li a:hover{
   color: #c20000;
}
/*agrege un ancho y altura de esta seccion*/
.green-area article{
    width: 20em;
    height: 25em;
}
/*quite el margen hacia a la derecha*/
.green-area ul{
    margin-left: 0em;
}
/*agrege negrita a las palabras*/
.contact-form label{
font-weight: bold;
}
/*quite margen a la izquierda y agrege margen a la derecha*/
.post ul {
    margin-right: 0px;
    margin-left:3em;
}



}




@media only screen and (min-width: 1440px) {

    /*se le agreo a todos los cainer una anchura definida de 80% y una max anchura de la pantalla */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }
    /*quite el margen hacia la derecha*/
    header a{
        margin-left: 0px;
    }
    /*aqui hice que al mover el puntero sobre las palabras del menu cambiara a color rojo*/
    .show-desktop li a:hover{
        color: #c20000;
     }
     /*justifique el contenido hacia el centro, quite margue y agrege solo hacia la derecha*/
     .about{
         justify-content: center;
         margin:0px;
         margin-left: 5em;
      
     }
     /*puse que abarcara el 90% de ancho*/
     .about .container{
        width: 90%;
     }
     /*aumente el tamaño de fuente*/
     .menu li a {
        font-size: 17px;
    }
    /*aplique que abarcara el 105% de la pantalla*/
    .header{
        width: 105%;
    }
}

@media only screen and (min-width: 414px){
/*quite el margen y agrege un margen de abajo para subirlo un poco*/
.social-links{
  margin:0;
  margin-bottom: 1.5em;
}
/*agrande el icono de github*/
.fab.fa-github{
    font-size: 1.5em;
}
/*agrande el icono de twitter y le agrege yn margen hacia la derecha para separalos*/
.fab.fa-twitter{
    font-size: 1.5em;  
    
    margin-left: 0.5em;
}
/*aqui agrege un margen hacia abajo al boton de contactar*/
.contact-form input[type=submit]{
    margin-bottom: 1.5em;
}
/*a cada articulo de esta seccion le agrege una altura y un ancho tambien un margen a la derecha*/
.green-area article{
    width: 20em;
    height: 25em;
    margin-left: 2em;
}
/*agrege un margen a los lados de 1em*/
.about .container{
  margin:0px 1em;
}
/*agrege un margen a la derecha al logo naldana*/
.header a{
    margin-left:1em;
}
/*nada mas agrande la letra*/
.big-hero  p{
    font-size: 13px;
    }
    
}


